In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt   
import seaborn as sns
from sklearn.model_selection import train_test_split,GridSearchCV
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis
from sklearn.metrics import roc_auc_score,roc_curve,classification_report,confusion_matrix,plot_confusion_matrix

In [2]:
df = pd.read_csv("Trucks.csv")

In [3]:
df

    Unnamed: 0   Freq  period  parked  light  collision
0            1    712       0       1      1          0
1            2    613       1       1      1          0
2            3    192       0       1      1          1
3            4    179       1       1      1          1
4            5   2557       0       0      1          0
5            6   2373       1       0      1          0
6            7  10749       0       0      1          1
7            8   9768       1       0      1          1
8            9    634       0       1      0          0
9           10    411       1       1      0          0
10          11     95       0       1      0          1
11          12     55       1       1      0          1
12          13    325       0       0      0          0
13          14    283       1       0      0          0
14          15   1256       0       0      0          1
15          16    987       1       0      0          1
16          17    345       0       1      0          0
17          18    179       1       1      0          0
18          19     46       0       1      0          1
19          20     39       1       1      0          1
20          21    579       0       0      0          0
21          22    494       1       0      0          0
22          23   1018       0       0      0          1
23          24    885       1       0      0          1

In [4]:
df.describe()

       Unnamed: 0          Freq     period     parked      light  collision
count   24.000000     24.000000  24.000000  24.000000  24.000000  24.000000
mean    12.500000   1448.916667   0.500000   0.500000   0.333333   0.500000
std      7.071068   2794.132578   0.510754   0.510754   0.481543   0.510754
min      1.000000     39.000000   0.000000   0.000000   0.000000   0.000000
25%      6.750000    188.750000   0.000000   0.000000   0.000000   0.000000
50%     12.500000    536.500000   0.500000   0.500000   0.000000   0.500000
75%     18.250000    994.750000   1.000000   1.000000   1.000000   1.000000
max     24.000000  10749.000000   1.000000   1.000000   1.000000   1.000000

In [5]:
df.collision.value_counts(normalize=True)

1    0.5
0    0.5
Name: collision, dtype: float64

In [6]:
df.drop("Unnamed: 0", axis=1, inplace=True)

In [7]:
df

     Freq  period  parked  light  collision
0     712       0       1      1          0
1     613       1       1      1          0
2     192       0       1      1          1
3     179       1       1      1          1
4    2557       0       0      1          0
5    2373       1       0      1          0
6   10749       0       0      1          1
7    9768       1       0      1          1
8     634       0       1      0          0
9     411       1       1      0          0
10     95       0       1      0          1
11     55       1       1      0          1
12    325       0       0      0          0
13    283       1       0      0          0
14   1256       0       0      0          1
15    987       1       0      0          1
16    345       0       1      0          0
17    179       1       1      0          0
18     46       0       1      0          1
19     39       1       1      0          1
20    579       0       0      0          0
21    494       1       0      0          0
22   1018       0       0      0          1
23    885       1       0      0          1

In [8]:
X = df.drop("collision", axis = 1)
y = df.collision

In [9]:
clf = LinearDiscriminantAnalysis()
model = clf.fit(X, y)

In [10]:
pred = model.predict(X)

In [11]:
confusion_matrix(y, pred)

array([[8, 4],
       [6, 6]], dtype=int64)

In [12]:
print(classification_report(y, pred))

              precision    recall  f1-score   support

           0       0.57      0.67      0.62        12
           1       0.60      0.50      0.55        12

    accuracy                           0.58        24
   macro avg       0.59      0.58      0.58        24
weighted avg       0.59      0.58      0.58        24