In [1]:
# Importing Libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [6]:
df= pd.read_excel("Sales_Data_1.xlsx")
df

,Order ID,Order Date,Customer Name,City,Country,Region,Segment,Ship Date,Ship Mode,State,Product Name,Discount,Sales,Profit,Quantity,Category,Sub-Category,Month,Year
0,BN-2011-7407039,2013-01-01,Ruby Patel,Stockholm,Sweden,North,Home Office,2013-01-05,Economy Plus,Stockholm,"Enermax Note Cards, Premium",0.5,45,-26,3,Office Supplies,Paper,1,2013
1,AZ-2011-9050313,2013-01-03,Summer Hayward,Southport,United Kingdom,North,Consumer,2013-01-07,Economy,England,"Dania Corner Shelving, Traditional",0.0,854,290,7,Furniture,Bookcases,1,2013
2,AZ-2011-6674300,2013-01-04,Devin Huddleston,Valence,France,Central,Consumer,2013-01-08,Economy,Auvergne-Rhône-Alpes,"Binney & Smith Sketch Pad, Easy-Erase",0.0,140,21,3,Office Supplies,Art,1,2013
3,BN-2011-2819714,2013-01-04,Mary Parker,Birmingham,United Kingdom,North,Corporate,2013-01-09,Economy,England,"Boston Markers, Easy-Erase",0.5,27,-22,2,Office Supplies,Art,1,2013
4,AZ-2011-617423,2013-01-05,Daniel Burke,Echirolles,France,Central,Home Office,2013-01-07,Priority,Auvergne-Rhône-Alpes,"Binney & Smith Pencil Sharpener, Water Color",0.0,90,21,3,Office Supplies,Art,1,2013
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4112,AZ-2014-8174835,2016-12-31,Eloise Sykes,Bielefeld,Germany,Central,Consumer,2017-01-04,Economy,North Rhine-Westphalia,"Kleencut Shears, Serrated",0.0,261,13,6,Office Supplies,Supplies,12,2016
4113,AZ-2014-766953,2016-12-31,Jose Gambino,Maidenhead,United Kingdom,North,Corporate,2017-01-05,Economy,England,"Ikea Stackable Bookrack, Traditional",0.0,245,91,2,Furniture,Bookcases,12,2016
4114,AZ-2014-1412225,2016-12-31,Leon Barnes,Worcester,United Kingdom,North,Consumer,2017-01-01,Priority,England,"Fellowes Shelving, Single Width",0.0,289,75,5,Office Supplies,Storage,12,2016
4115,AZ-2014-7604524,2016-12-31,Rebecca Chamberlain,Hamburg,Germany,Central,Home Office,2017-01-04,Economy,Hamburg,"Wilson Jones Index Tab, Economy",0.0,32,8,5,Office Supplies,Binders,12,2016
4116,BN-2014-4140795,2016-12-31,Daniel Hamilton,Eindhoven,Netherlands,Central,Home Office,2017-01-05,Economy Plus,North Brabant,"BIC Pencil Sharpener, Fluorescent",0.5,30,-10,2,Office Supplies,Art,12,2016

In [9]:
df.Year.max()

2016

In [12]:
df[df.Profit ==df.Profit.max()]

,Order ID,Order Date,Customer Name,City,Country,Region,Segment,Ship Date,Ship Mode,State,Product Name,Discount,Sales,Profit,Quantity,Category,Sub-Category,Month,Year
452,AZ-2011-5313166,2013-09-08,Alexander Bond,Lugo,Spain,South,Corporate,2013-09-11,Economy Plus,Galicia,"Hamilton Beach Stove, Silver",0.0,6517,2476,12,Office Supplies,Appliances,9,2013

In [18]:
df.groupby("Customer Name")["Profit"].sum().sort_values()

Customer Name
Melody Nelson       -3817
Annabelle Heydon    -1927
Leroy Samson        -1878
David To            -1822
Gregory Rodriguez   -1547
                     ...
George Dawson        2014
Maya O'Sullivan      2041
Lara Stoate          2044
Harrison Cooke       2372
Alexander Bond       2658
Name: Profit, Length: 792, dtype: int64

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4117 entries, 0 to 4116
Data columns (total 19 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Order ID       4117 non-null   object
 1   Order Date     4117 non-null   datetime64[ns]
 2   Customer Name  4117 non-null   object
 3   City           4117 non-null   object
 4   Country        4117 non-null   object
 5   Region         4117 non-null   object
 6   Segment        4117 non-null   object
 7   Ship Date      4117 non-null   datetime64[ns]
 8   Ship Mode      4117 non-null   object
 9   State          4117 non-null   object
 10  Product Name   4117 non-null   object
 11  Discount       4117 non-null   float64
 12  Sales          4117 non-null   int64
 13  Profit         4117 non-null   int64
 14  Quantity       4117 non-null   int64
 15  Category       4117 non-null   object
 16  Sub-Category   4117 non-null   object
 17  Month          4117 non-null   int64
 18  Year           4117 non-null   int64
dtypes: datetime64[ns](2), float64(1), int64(5), object(11)
memory usage: 611.2+ KB

In [31]:
(df[df["Ship Mode"]=="Economy"]["Ship Date"] - df[df["Ship Mode"]=="Economy"]["Order Date"]).sum()/len(df[df["Ship Mode"]=="Economy"])

Timedelta('5 days 00:18:50.797546012')

In [32]:
df

,Order ID,Order Date,Customer Name,City,Country,Region,Segment,Ship Date,Ship Mode,State,Product Name,Discount,Sales,Profit,Quantity,Category,Sub-Category,Month,Year
0,BN-2011-7407039,2013-01-01,Ruby Patel,Stockholm,Sweden,North,Home Office,2013-01-05,Economy Plus,Stockholm,"Enermax Note Cards, Premium",0.5,45,-26,3,Office Supplies,Paper,1,2013
1,AZ-2011-9050313,2013-01-03,Summer Hayward,Southport,United Kingdom,North,Consumer,2013-01-07,Economy,England,"Dania Corner Shelving, Traditional",0.0,854,290,7,Furniture,Bookcases,1,2013
2,AZ-2011-6674300,2013-01-04,Devin Huddleston,Valence,France,Central,Consumer,2013-01-08,Economy,Auvergne-Rhône-Alpes,"Binney & Smith Sketch Pad, Easy-Erase",0.0,140,21,3,Office Supplies,Art,1,2013
3,BN-2011-2819714,2013-01-04,Mary Parker,Birmingham,United Kingdom,North,Corporate,2013-01-09,Economy,England,"Boston Markers, Easy-Erase",0.5,27,-22,2,Office Supplies,Art,1,2013
4,AZ-2011-617423,2013-01-05,Daniel Burke,Echirolles,France,Central,Home Office,2013-01-07,Priority,Auvergne-Rhône-Alpes,"Binney & Smith Pencil Sharpener, Water Color",0.0,90,21,3,Office Supplies,Art,1,2013
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4112,AZ-2014-8174835,2016-12-31,Eloise Sykes,Bielefeld,Germany,Central,Consumer,2017-01-04,Economy,North Rhine-Westphalia,"Kleencut Shears, Serrated",0.0,261,13,6,Office Supplies,Supplies,12,2016
4113,AZ-2014-766953,2016-12-31,Jose Gambino,Maidenhead,United Kingdom,North,Corporate,2017-01-05,Economy,England,"Ikea Stackable Bookrack, Traditional",0.0,245,91,2,Furniture,Bookcases,12,2016
4114,AZ-2014-1412225,2016-12-31,Leon Barnes,Worcester,United Kingdom,North,Consumer,2017-01-01,Priority,England,"Fellowes Shelving, Single Width",0.0,289,75,5,Office Supplies,Storage,12,2016
4115,AZ-2014-7604524,2016-12-31,Rebecca Chamberlain,Hamburg,Germany,Central,Home Office,2017-01-04,Economy,Hamburg,"Wilson Jones Index Tab, Economy",0.0,32,8,5,Office Supplies,Binders,12,2016
4116,BN-2014-4140795,2016-12-31,Daniel Hamilton,Eindhoven,Netherlands,Central,Home Office,2017-01-05,Economy Plus,North Brabant,"BIC Pencil Sharpener, Fluorescent",0.5,30,-10,2,Office Supplies,Art,12,2016

In [39]:
df_france = df[df["Country"]=="France"]

In [45]:
df_france.groupby("City")["Profit"].sum().sort_values().tail()

City
Mulhouse     1537
Nice         1948
Marseille    1996
Muret        2083
Paris        4472
Name: Profit, dtype: int64

In [47]:
 df[df["Category"]=="Office Supplies"]["Sub-Category"].mode()

0    Art
dtype: object

In [51]:
df.groupby("Product Name")["Profit"].sum().sort_values().tail()

Product Name
Cisco Smart Phone, with Caller ID          3781
SAFCO Executive Leather Armchair, Black    4076
Safco Classic Bookcase, Metal              4183
Nokia Smart Phone, Full Size               4782
Hamilton Beach Stove, Silver               5778
Name: Profit, dtype: int64

In [64]:
df[df["Country"]=="United Kingdom"].groupby("Category")["Sales"].sum()

Category
Furniture          97154
Office Supplies    84138
Technology         55630
Name: Sales, dtype: int64

In [61]:
df[df["Sub-Category"]=="Phones"][["Product Name","Profit"]].sort_values(by="Profit").tail()

                           Product Name  Profit
1433       Nokia Smart Phone, Full Size    1094
1168  Cisco Smart Phone, with Caller ID    1112
3330  Cisco Smart Phone, with Caller ID    1151
596   Cisco Smart Phone, with Caller ID    1518
1022       Nokia Smart Phone, Full Size    2461